html {
  background: #1f1d1d;
}
.App {
  text-align: center;
  font-size: 100%;
  color: white;
  font-family: "Krona One", sans-serif;
}
p {
  font-family: "Krona One", sans-serif;
  font-size: 80%;
}
h3 {
  font-family: "Krona One", sans-serif;
  color: rgb(0, 195, 230);
}
.banner {
  position: relative;
  padding-top: 11px;
}
.banner::before {
  content: "";
  background-image: url("./images/moviebanner.jpg");
  background-position: center;
  opacity: 0.5;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.banner-text {
  position: relative;
  color: rgb(0, 195, 230);
}
.banner-text h3 {
  margin: 0 auto;
  padding: 2%;
  color: rgb(255, 255, 255);
}
.favorites {
  text-align: left;
  margin: 1% 2%;
  font-size: 0.8rem;
}
.searchButton {
  padding: 2px;
  border-radius: 20px;
  background: rgb(0, 195, 230);
  box-shadow: 0px 5px 15px black;
}
.input {
  border-radius: 20px;
  text-align: center;
  padding: 7px;
  margin: 5px;
  font-family: "Krona One", sans-serif;
  background: black;
  color: rgb(0, 195, 230);
  box-shadow: 0px 5px 15px black;
  outline-style: none;
}
.popularh3 {
  border-top: 1px solid rgb(82, 82, 82);
  max-width:80%;
  margin: 0 auto;
  margin-top: 20px;
}
