html {
  background: #1f1d1d;
}
.App {
  text-align: center;
  font-size: 100%;
  color: white;
  font-family: "Krona One", sans-serif;
}
p {
  font-family: "Krona One", sans-serif;
  font-size: 80%;
}
h3 {
  font-family: "Krona One", sans-serif;
  color: rgb(0, 195, 230);
}
.banner {
  background-color: black;
  padding-bottom: 20px;
  padding-top: 11px;
}
.banner-text {
  color: rgb(0, 195, 230);
}
.banner-text h3 {
  min-width: 50%;
  max-width: 60%;
  box-shadow: -5px -5px 50px rgb(100, 100, 100);
  margin: 0 auto;
  border-radius: 50px;
  padding: 20px;
  color: rgb(255, 255, 255);
  background-image: linear-gradient(
    to bottom right,
    rgb(114, 114, 114),
    rgb(0, 0, 0),
    rgb(0, 195, 230)
  );
}
.favorites {
  text-align: left;
  margin: 1% 2%;
}
.searchButton{
  padding:4px;
  border-radius: 5px;
}
.input{
  border-radius: 5px;
  padding:10px;
  margin:5px;
}